SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000

DB_NAME=hotel_arahuana_db
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_TIMEOUT=20
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=

BANCO_1_NOMBRE=
BANCO_1_TIPO=
BANCO_1_CUENTA=
BANCO_1_TITULAR=
BANCO_1_IDENTIFICACION=
BANCO_1_CORREO=

BANCO_2_NOMBRE=
BANCO_2_TIPO=
BANCO_2_CUENTA=
BANCO_2_TITULAR=
BANCO_2_IDENTIFICACION=
BANCO_2_CORREO=
